<head>
    <script src="https://kit.fontawesome.com/de81a45678.js" crossorigin="anonymous"></script>
</head>

<button data-id="<%= item.id%>" class="dlt"><i
        class=" fa-solid fa-trash bg-black hover:bg-red-500 transition-all duration-300 ease-in-out text-white rounded-lg cursor-pointer p-4 mb-5 "></i></button>